@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inputs {
  @apply focus:outline-none border-2 border-gray-400/60  dark:border-zinc-600  focus:border-orange-500 dark:focus:border-NeonLime-600 placeholder-gray-400/90 dark:placeholder-zinc-500 px-3 py-2 rounded-md font-medium bg-white/35 dark:bg-zinc-700/45 dark:hover:bg-zinc-700/40;
}
